<%# ＜サイドバー＞ %>
  <div class="side_header">
    <div class="NAME">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="room_create">
      <a href="#">チャットを作成する</a>
    </div>
  </div>

  <div class="side-bars">
    <div class="bar">
      <div class="room-name">
        <a href="#">study1</a>
      </div>
    </div>
        <div class="bar">
      <div class="room-name">
        <a href="#">study2</a>
      </div>
    </div>
  </div>
